<!DOCTYPE html>
<html>
<head>
  <title>Login | GearGuard</title>
  <link rel="stylesheet" href="/css/signupLogin.css">
</head>
<body>

<form method="POST" action="/auth/login">

  <div class="brand">
    GearGuard
  </div>

  <h2>Login</h2>

  <% if (error) { %>
    <p class="error"><%= error %></p>
  <% } %>

  <% if (success) { %>
    <p class="success"><%= success %></p>
  <% } %>

  <input type="email" name="email" placeholder="Email" required />
  <input type="password" name="password" placeholder="Password" required />

  <button type="submit">Login</button>

<div class="auth-links">
  <a href="/forgotPass" class="forgot">Forgot Password?</a>
  <span>|</span>
  <a href="/signup">Sign Up</a>
</div>



</form>

</body>
</html>
